.contRedesYPrimero{
    display: flex;
    align-items: center;    
    height: 600px;
    border-radius: 10%;
    background-color: rgba(228, 233, 238, 0.767);
}
/*--REDES--*/
.contRedes{
    width: 3rem;
    height: 8rem;
    background-color: rgba(176, 114, 235, 0.856);
    display: flex;
    align-items: center;
    justify-content:start;
    border-radius: 0px 10px 10px 0px;
}
.insta{
    width: 20px;
}
.insta, .whats {
    text-decoration: none;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color:aqua;
    transition: all 0.5s;
}
.insta:hover{
    color:rgb(22, 179, 218)
}
.whats:hover{
    color:rgb(22, 179, 218)
}
/*--------------*/
.titulos, .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
.conttitulosMed{
    width: auto;
    border-radius: 30px;
    color: blueviolet;
    margin-bottom: 0.5rem;
}
.imgPrinc{
    width: 65%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
.imgRecetas{
    width: 685px;
}
.btnLReg{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: aquamarine;
}
.contTiposrecetas, .contTercero{
    margin-top: 1.5rem;
    background-color: rgba(228, 233, 238, 0.767);
}
.contSegundo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    border-radius: 10%;
}
.contLogoD{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgDietas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    border-radius: 40%;
}
.recetasPChica{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    border-radius: 10%;
}
.contSegundoDIV{
    margin-top: 1rem;
    background-color: rgba(228, 233, 238, 0.767);
    height: auto;
    width: 100%;    
}
.dolar{
    width:320px;
    height:260px;
    border-radius:10px;
    box-shadow:2px 4px 4px rgb(0 0 0 / 25%);
    display:flex;
    justify-content:center;
    border:1px solid #bcbcbc;
}

/*----responsive----*/
/*---quito redes--*/
@media screen and (max-width:777px){
    .contRedes{
        display: none;
    }
}
/*--imagen Principal--*/
@media screen and (max-width:770px){
    .contRedesYPrimero{
        height: 500px;
    }
    .imgPrinc{
        width: 95%;
        height: 350px;
    }
    .titulo{
        font-size:large;
        color: blueviolet;
    }
}
@media screen and (max-width:400px){
    .contRedesYPrimero{
        height: 400px;
    }
    .imgPrinc{
        width: 95%;
        height: 250px;
    }
}
/*--imgDietas--*/
@media screen and (max-width:990px){
    .contSegundo{
        height: 27vh;
    }
    .imgDietas{
        width: 95%;

    }
}
@media screen and (min-width:561px){
    .contSegundoPChica{
        display: none;
    }
}
@media screen and (max-width:560px){
    .contSegundo{
        display: none;
    }
    .contSegundoPChica{
        display: flex;
        justify-content: center;
        height: auto;
        border-radius: 5%;
    }
    .imgDietas{
        width: 47%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;        
    }
}
/*---Salud--*/
@media screen and (max-width:777px){
    .contSegundoDIV{
        height: auto;
        margin-bottom: 1rem;
    }
}