.contTitulos{
    width: 100%;
    background-color: rgb(145, 230, 218)
}
.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contColIzq{
    background-color: rgb(145, 230, 218);
    height: 90vh;
}


.contColMedio{
    width: 100%;
    height: 100%;
    background-image: url('../../imagenes/landing.jpg');
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.contSubTitulos{
    background-color: black;
    color: white;
}
.contBtnreg{
    margin-top: 32rem;
    display: flex;
    justify-content: end;
}
.btnLReg{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: aquamarine;
}
.imgFondo{
    object-fit: cover;
    width:100%;
    height:100%;
    margin-top: 0.5rem;
}


.contColDer{
    background-color: rgb(145, 230, 218);
    height: 90vh;
}
.imgDietas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    margin-top: 0.5rem;
}

