
.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
.contPrimero{
    width: 100%;
    height: auto;

    /* background-image: url('../../imagenes/fondo.webp');
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */ /* ocupa todo el div */
}
.conttitulosMed{
    width: 700px;
    border-radius: 30px;
    color: blueviolet;
    margin-bottom: 0.5rem;
}
.imgRecetas{
    width: 685px;
}
.btnLReg{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: aquamarine;
}
.contSegundo, .contTercero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(194, 245, 238);
    height: 45vh;
    border-radius: 10%;
}
.imgDietas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 150px;
    margin-top: 1rem;
    border-radius: 30%;
}
.contSegundoDIV{
    margin-top: 1rem;
    background-color: aliceblue;
    height: auto;
    width: 100%;
}
.dolar{
    width:320px;
    height:260px;
    border-radius:10px;
    box-shadow:2px 4px 4px rgb(0 0 0 / 25%);
    display:flex;
    justify-content:center;
    border:1px solid #bcbcbc;
}