
.cardButton {
    border: 1px solid aqua;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    background-color: rgb(230, 223, 223);
    color: black;
    margin-right: 5px;
    margin-bottom: 5px;
} 
.pintaFav{
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #e33939;
    background-color: #e33939;
    color: #ffffff;
    margin-right: 5px;
}