.contDN{
    background-color: black;
    height: 100vh;
}
.contDD{
    background-color: white;
    height: 100vh;
}
.contIzqKD, .contMedKD, .contDerKD{
    color: black;
}
.barbieD{
    color: #ff0080;
}
.kenD{
    color:aqua
}
.contPaso{
    margin-bottom: 1rem;
}