.contCard{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 370px;  
    height: 550px;  
    background-color:rgb(230, 223, 223);
    position: relative;
    min-height: 15rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;     
    border-radius: 20px;
    border-color: aqua;
    border-style: solid;
}
.imgReceta{
    width: 300px;
    height: 240px;
    border-radius: 20px;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
    
}
.contBtnsFavElim{
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 8px;
   border-top: 1px solid #ddd;
   height: 10%;
}
/* fav */
.cardButton {
    border: 1px solid aqua;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
    background-color: rgb(230, 223, 223);
    color: black;
    margin-right: 5px;
    margin-bottom: 5px;
} 
.cardButtonFav{
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #e33939;
    background-color: #e33939;
    color: #ffffff;
    margin-right: 5px;
}
 /* btnS-Admin */
.btn-elimProd{
    border-radius: 30px;
}