.contCard{
    height: 100%;  
    margin-bottom: 2rem;
    background-color:rgb(31, 31, 30);   
    border-radius: 20px;
    border-color:aqua;
    color: aqua;
    border-style: solid;
}
.imgReceta{
    margin-left: 0.75rem;
    width: 100%;
    height: 249px;
    border-radius: 10px;    
}
.contBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contBotones{
    margin-bottom: 0.5rem;
}
.cardButtonFav, .cardButtonMG, .btnEditR{
    color: aqua;
}
.cardButtonK{
    color: rgb(245, 240, 240);
}