.contGralRB{
    background-color: #ff1b82e5;
    border-radius: 10px;
    height: 100%;
}
.containerTitle{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.imagen{
    width: 249px;
    height: 249px;
    border-radius: 20%;    
}

.contBotones{
    margin-bottom: 0.5rem;
}
.cardButtonFav{
    background-color: aqua;
}
.cardButton{
    background-color: blue;
}