.contGralRB{
    background-color: #ff1b82e5;
    border-radius: 10px;
    height: 100%;
    padding: 0.3rem;
}
.containerTitle{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.imagen{
    width: 265px;
    height: 249px;
    border-radius: 20%;
    margin-left: 0.7rem;
}
.contBotones{
    margin-bottom: 0.5rem;
}
.cardButtonFav, .cardButtonMG{
    color: aqua;
}
.cardButton{
    color: black;
}

@media screen and (max-width:870px){
    .imagen{
        height: 219px;
    }
}
