.contListareceta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 0.5rem;
    background-color: rgb(194, 245, 238);
}
.cardReceta{
    width: 30%;
    height: 220px;
}

@media screen and (max-width:560px){
    .cardReceta{
        width: 40%;
        height: 220px;
    }
}