.contListareceta{
    width: 100%;
    height: 37vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 1rem;
    border-radius: 5%;
}
.cardReceta{
    width: 20%;
    height: 150px;
    margin-top: 0.5rem;
}
.imgRecetaMuestra{
    border-radius: 5%;
}
@media screen and (max-width:700px){
    .contListareceta{
        height: auto;
    }
    .cardReceta{
        width: 34%;
        height: 205px;
        margin-bottom: 0.5rem;
    }
}
@media screen and (max-width:600px){
    .contListareceta{
        height: auto;
    }
    .cardReceta{
        width: 47%;
        height: 205px;
        margin-bottom: 0.5rem;
    }
}
@media screen and (max-width:300px){
    
    .cardReceta{
        width: 47%;
        height: 185px;
        margin-bottom: 0.2rem;
        
    }
    .tituloRM{
        font-size: medium;
    }
}