.contGralCR{
    background-color: deepskyblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contForm{
    width: 600px;
    height: 550px;
    background-color: aliceblue;
    display: grid;
    align-items: center;
    justify-content: center;
}
.tituloReceta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grupo1, .grupo3{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grupo3{
    height: 100%;
}
.contInputLabel{
    display: grid;
    width: 95%;
}
.labelCR{
    font-size: large;
}
.inputCR{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.imgPre{
    width: 140px;
    height: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btnSgt{
    margin-top: 4rem;
    margin-right: 1rem;
}
.btnCreateR{
    width: auto;
}
.contBtnElimDieta{
    margin-right: 5px;
}
.btnElimDieta{
    width: 15px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.tipoDieta{
    font-size: large;
}
.cargaIng{
    margin-top: 0.5rem;
}
.btnAtrasUltimo{
    margin-top: 1rem;
    display: flex;
    justify-content: start;
}
@media screen and (max-width:600px){
    .contForm{
        width: 90%;        
    }
}