.contHomeN{
    background-color: black;
}
.contHomeD{
    background-color: white;
}
.contIzq{
    height: 100%;
}
.contMed{
    height: 100%;    
}
.contDer{
    height: 100%;
}

/*----col izq----*/
.tituloFiltros{
    margin-top: 1.5rem;
    color: #ff0080;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size:xx-large;
}
.nombDieta{
    color: #ff0080;
    margin-left: 0.5rem;
}
/*----col central----*/
.contTituloColMed{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------col DER-----*/
.contBtnsBarbie{
    margin-top: 2rem;
}
.barbie, .luna{
    color: #ff0080
}
.ken, .sol{
    color: aqua
}