.contNavGral{
    border-bottom: 1px solid rgb(17, 15, 15);
    margin-bottom: 1rem;
    height: 55px;
}
.iconoHamburg{
    height: 35px;
    display: flex;
    align-items: center;
}
.menuEmergente{
    background-color: aquamarine;
}
.btnLog{
    background-color: aquamarine;
    margin-right: 1rem;
}
.contNombreUser{
    margin-left: 1rem;
    margin-right: 1rem;
    color: rgb(32, 83, 194);
}
.contBienvenido{
    display: flex;
    align-items: center;
    justify-content: center;
}
.msjBienvenido{
    margin-right: 0.5rem;
}

.contLogin{
    display: flex;
    justify-content: end;
}