.contLoading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.contTituloeImg{
}

.contTituloImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-load {
    color: rgb(126, 40, 148);
    font-size: 40px;  
}

.gif{
    border-radius: 10px;   
    width: 30%;
    height: 40%;
    
}