.contFooter{
    background-color: grey;
}
.footCen{     
    display: flex;
    justify-content: start;
    align-items: center;   
}
.titulosMed{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 0.2rem;
}
.footDer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:778px){
    .footDer{
        display: none;
    }
}
@media screen and (max-width:528px){
    .titulosMed{
        font-size: small;
    }
}