.contFooter{
    background-color: grey;
    width: 100%;
}
.footCen{     
    display: flex;
    justify-content: start;
    align-items: center;   
}
.titulosMed{
    display: flex;
    justify-content: start;
    align-items: center;
}
.footDer{
    display: flex;
    justify-content: center;
    align-items: center;
}