.contGralLogin {
    background-color: deepskyblue;
    height: 100vh;
}
.login {
    width: 50%;
    height: auto;
    border-radius: 12px;
    display: grid;   
    align-self: center;
    justify-content: center; 
}
.contTituloP{
    display: grid;
    align-self: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.tituloP{
    display: flex;
    align-self: center;
    justify-content: center;
}
.labelPass{
    margin-top: 0.8rem;
}
.btnLogin{
    margin-top: 0.8rem;
    width: 40%;
}
@media screen and (max-width:799px){
    .imgLog1{
        height: 10rem;
    }
    .imgLog2{
        height: 9rem;
    }
}
@media screen and (max-width:350px){
    .imgLog1{
        height: 8rem;
    }
    .imgLog2{
        height: 7rem;
    }
    .inputLog{
        width: 95%;
    }
}