.contGralR{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.contCadaR{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}
.contReceta{
  width: 30%;
  height: 500px;  
  margin-bottom: 1rem;
}