.contGralR{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}
.contListaRecetas{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
    margin-left: 2rem;
    margin-bottom: 1rem;
}